################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InventarioArtMenores/FileContentIndex/e73336b3-683a-4796-bd79-08850caaadf9.vsidx
